<nav class="navbar navbar-expand-lg navbar-light bg-light">
	<a class="navbar-brand" href="{{ path('app_home') }}">
		<img src="{{asset('/assets/img/baniere.png')}}" width="180" height="60" class="form-inline my-2 my-lg-0">
	</a>
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>

	<div class="collapse navbar-collapse" id="navbarSupportedContent">
		<ul class="navbar-nav mr-auto">
			<li class="nav-item active">
				<a class="nav-link" href="{{ path('app_travel') }}">
					<stong>Liste Voyage</strong>
					<span class="sr-only">(current)</span>
				</a>
			</li>
		</ul>

		{# modif deconnexion et connexion afin de mettre des icone à la place 
											https://getbootstrap.com/docs/5.3/components/dropdowns/ pour dropdown
										#}

		<ul class="navbar-nav me-3 mb-2 mb-lg-0">
			{% if app.user %}
				<li class="nav-item">
					<div class="mt-2">
						<a class="nav-link text-primary" href="{{ path('app_messages') }}">
							<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-envelope-fill" viewbox="0 0 16 16">
								<path d="M.05 3.555A2 2 0 0 1 2 2h12a2 2 0 0 1 1.95 1.555L8 8.414.05 3.555ZM0 4.697v7.104l5.803-3.558L0 4.697ZM6.761 8.83l-6.57 4.027A2 2 0 0 0 2 14h12a2 2 0 0 0 1.808-1.144l-6.57-4.027L8 9.586l-1.239-.757Zm3.436-.586L16 11.801V4.697l-5.803 3.546Z"/>
							</svg>
						</a>
					</div>
				</li>

				<div class="btn-group mr-4">
					<a class="btn" href="{{ path('profile_user', {slug: app.user.slug}) }}" aria-expanded="false">
						{% if app.user.profilePicture == null %}
							<img src="{{asset('/assets/img/profile.png')}}" width="40px" height="40px" style="border-radius: 50%">
						{% else %}
							<img src="{{ asset('/uploads/' ~ app.user.profilePicture.name) }}" width="40px" height="40px" style="border-radius: 50%">
						{% endif %}
					</a>
					<button type="button" class="btn dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown" aria-expanded="false">
						<span class="visually-hidden">Toggle Dropdown</span>
					</button>
					<ul
						class="dropdown-menu">
						{#<li><a class="dropdown-item" href=""></a></li>#}
						<li>
							<a class="dropdown-item" href="{{ path('app_voyage') }}">Mes Voyages</a>
						</li>
						{% if app.user.driver != null %}
							<li>
								<a class="dropdown-item" href="{{ path('car_index') }}">Mes Vehicules</a>
							</li>
						{% else %}
							<li>
								<a class="dropdown-item" href="{{ path('app_driver') }}">Devenir conducteur</a>
							</li>
						{% endif %}
						<li>
							<a class="dropdown-item" href="{{ path('app_logout') }}">
								<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-box-arrow-right" viewbox="0 0 16 16">
									<path fill-rule="evenodd" d="M10 12.5a.5.5 0 0 1-.5.5h-8a.5.5 0 0 1-.5-.5v-9a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 .5.5v2a.5.5 0 0 0 1 0v-2A1.5 1.5 0 0 0 9.5 2h-8A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h8a1.5 1.5 0 0 0 1.5-1.5v-2a.5.5 0 0 0-1 0v2z"/>
									<path fill-rule="evenodd" d="M15.854 8.354a.5.5 0 0 0 0-.708l-3-3a.5.5 0 0 0-.708.708L14.293 7.5H5.5a.5.5 0 0 0 0 1h8.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3z"/>
								</svg>
							</a>
						</li>
					</ul>
				</div>
			{% else %}
				<li class="nav-item">
					<a class="nav-link" href="{{ path('app_login') }}">Connexion</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="{{ path('app_register') }}">Inscription</a>
				</li>
			{% endif %}
		</ul>
	</div>
</nav>
