{% extends 'base.html.twig' %}

{% block title %}Detail
	{{ voyage.villeDepart }}-{{ voyage.villeArrive }}
{% endblock %}

{% block body %}
	<div class="container">
		<div class="row">
			<div class="col-12">
				<div class="mt-4 mb-3">
					<h4>Déscriptif du voyage :<h4>
                </div>
						<div>
                            Départ à <em>{{ voyage.villeDepart }}</em> {{ voyage.heureDepart|date('H\\hi') }}
							le {{ voyage.heureDepart|date('d F') }}
							Arrivée à <em>{{ voyage.villeArrive }}</em> {{ voyage.heureArrive|date('H\\hi') }}
							le {{ voyage.heureArrive|date('d F') }}
                            <div class="mt-1 mb-2">
                                {% set diff = voyage.heureArrive|date('H') - voyage.heureDepart|date('H') %} {#calcule le temps du voyage#}
                                {% set diffHours = diff < 0 ? diff + 24 : diff %}
                                temps du voyage : {{ diffHours }}h
							</div>
                            <div class="mt-1 mb-2">
                                Prix par place : {{ voyage.prix }}€
                            </div>
                            <div class="mt-1 mb-3">
								Description : {{ voyage.description }}
                            </div>
						</div>
						<div class="mt-2">
							<h6>Ce voyage est proposé par :</h6>
							<div class="mb-5 ml-2">
                                {{ voyage.user.lastname }} {{ voyage.user.firstname }}
								<a href="{{ path('profile_user', { slug: voyage.user.slug }) }}" class="card-link">Profile</a>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-12 mb-4">
						<h5>Passagers :</h5>
						{% for place in voyage.place %}
							<div class="row mb-2 ml-2 mt-2">
								{{ place.user.lastname }} {{ place.user.firstname }} :
								<a href="{{ path('profile_user', { slug: place.user.slug }) }}" class="card-link">Profile</a>
							</div>
						{% endfor %}
					</div>
				</div>
			</div>
		{% endblock %}
