{% if userVoyages|length > 0 %}
	<h5>Historique des voyages :</h5>
	{% for userVoyage in userVoyages %}
		<div class="col-4 ml-1 mt-3">
			<div class="card" style="width: 18rem;">
				<div>
					<div class="card-body">
						<h5 class="card-title">{{ userVoyage.villeDepart }}
							-
							{{userVoyage.villeArrive}}</h5>
						<h6 class="card-subtitle">
							<div class="mb-2 text-muted">
								{% if userVoyage.heureDepart < "now" %}
									Voyage effectué le
									{{ userVoyage.heureDepart|date('d F') }}
								{% else %}
									Départ le
									{{ userVoyage.heureDepart|date('d F') }}
									<div>
										<a href="{{ path('detail_list', {slug: userVoyage.slug}) }}" class="card-link">Plus d'info</a>
									</div>
								{% endif %}
							</div>
						</h6>
					</div>
				</div>
			</div>
		</div>
	{% endfor %}
{% else %}
	{% if app.user == user %}
		<p>Aucun voyage de prévu</p>
	{% else %}
	<p>Aucun historique de voyage disponible pour ce membre.</p>
	{% endif %}
{% endif %}
