{% extends 'base.html.twig' %}

{% block title %}Voyage{% endblock %}

{% block body %}
    <h1>Voyage</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ voyage.id }}</td>
            </tr>
            <tr>
                <th>Nb_place</th>
                <td>{{ voyage.nbPlace }}</td>
            </tr>
            <tr>
                <th>Heure_depart</th>
                <td>{{ voyage.heureDepart ? voyage.heureDepart|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Heure_arrive</th>
                <td>{{ voyage.heureArrive ? voyage.heureArrive|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Created_at</th>
                <td>{{ voyage.createdAt ? voyage.createdAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ voyage.description }}</td>
            </tr>
            <tr>
                <th>Slug</th>
                <td>{{ voyage.slug }}</td>
            </tr>
            <tr>
                <th>Prix</th>
                <td>{{ voyage.prix }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_admin_voyage_index') }}">back to list</a>

    <a href="{{ path('app_admin_voyage_edit', {'id': voyage.id}) }}">edit</a>

    {{ include('admin/admin_voyage/_delete_form.html.twig') }}
{% endblock %}
