{{ form_start(form, {attr:{class: 'filter'}}) }}

    {{form_row(form.q)}}

    <h4>Ville départ</h4>
    {{form_row(form.ville_depart)}}
    
    <h4>Ville arrivée</h4>
    {{form_row(form.ville_arrive)}}

    <h6>Disponnible</h6>
    {{form_row(form.dispo)}}

    <button type="submit" class="btn btn-primary w-100">Filtrer</button>

{{ form_end(form)}}