{% extends 'base.html.twig' %}

{% block title %}Travel
{% endblock %}

{% block body %}
	<main class="container">
		<section class="row">

			{% for voyage in voyage %}

				{% if voyage.heureDepart < date() %}{#permet de vérifier si la date du voyage est dépasser #}{{voyage.id}}

				{% else %}
                <div class="col-3">
					<div class="card" style="width: 18rem;">
						<div class="card-body">
							<h5 class="card-title">{{voyage.villeDepart}}-{{voyage.villeArrive}}</h5>
							<h6 class="card-subtitle mb-2 text-muted">
                                {{ voyage.heureDepart|date('H\\hi') }} le {{ voyage.heureDepart.format('d F') }}
							</h6>
							<p class="card-text">{{voyage.description}}</p>
							<a href="{{path('detail_list', {slug: voyage.slug})}}" class="card-link">Plus d'info</a>
							<a href="#" class="card-link">Profile</a>
						</div>
					</div>
</div>

				{% endif %}
			{% endfor %}

			<div class="col-12">
				{{dump()}}
			</div>
		</section>
	</main>
{% endblock %}
