<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %}BlablaSchuman{% endblock %} - BlablaSchuman
		</title>
		<link rel="icon" href="{{ asset('assets/img/logo.ico') }}"/>

		{# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
		{% block stylesheets %}
			<link rel="stylesheet" href="{{ asset('assets/css/styles.css')}}">
			<link href="{{ asset('assets/css/bootstrap.min.css')}}" rel="stylesheet">
		{% endblock %}

		{% block javascripts %}
			<script src="{{ asset('assets/js/bootstrap.bundle.min.js')}}" defer></script>
			<script src="{{ asset('assets/js/script.js')}}" defer></script>

		{% endblock %}
	</head>
	<body>
        {% include "_partials/_nav.html.twig" %}
		{#centrer les formulaire ou texte <div class="container"></div>#} 
            {% block body %}{% endblock %}
		
        {% include "_partials/_footer.html.twig" %}
	</body>
</html>
