{% extends 'base.html.twig' %}

{% block title %}Messagerie{% endblock %}

{% block body %}
	<section class="container">
		<div class="row">
			<div class="col-12">
				<h1>Message</h1>
                <h2>{{message.title}}</h2>
                <p>Le {{message.createdAt|date('d/m/Y H:i:s')}}
                <br>Message de :{{message.sender.email}}</p>
                <div>{{message.msg}}</div>

			</div>
				<div class="col-12 my-3">
					<button class="btn btn-primary" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight" aria-controls="offcanvasRight">Mes Dossiers</button>
    				<a href="{{path('received')}}" class="btn btn-primary">Retour à la boîte de réception</a>
                </div>
				<div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
					<div class="offcanvas-header">
						<h5 id="offcanvasRightLabel">Mes Dossiers</h5>
						<button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
					</div>
					<div class="offcanvas-body">
						<div class="list-group">
							<a href="{{path('app_messages')}}" class="list-group-item list-group-item-action">Accueil</a>

							<a href="{{path('received')}}" class="list-group-item list-group-item-action">Boîte de réception</a>

							<a href="{{path('sent')}}" class="list-group-item list-group-item-action">Element envoyé</a>
						</div>
					</div>
				</div>

			</div>
		</div>
	</section>
{% endblock %}
