{% extends 'base.html.twig' %}

{% block title %}Voyage index{% endblock %}

{% block body %}
    <h1>Vos Voyage :</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nb_place</th>
                <th>Heure_depart</th>
                <th>Heure_arrive</th>
                <th>Created_at</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for voyage in voyages %}
            <tr>
                <td>{{ voyage.id }}</td>
                <td>{{ voyage.nbPlace }}</td>
                <td>{{ voyage.heureDepart ? voyage.heureDepart|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ voyage.heureArrive ? voyage.heureArrive|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ voyage.createdAt ? voyage.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('app_voyage_show', {'id': voyage.id}) }}">montrer</a>{#aménera vers la page voyage détail et non le show#}
                    <a href="{{ path('app_voyage_edit', {'id': voyage.id}) }}">modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_voyage_new') }}">Aujouter un voyage</a>
{% endblock %}
