{% extends 'base.html.twig' %}

{% block title %}Vos Voyages
{% endblock %}

{% block body %}
	<div class="mt-3 ml-2">
		<h3>Vos voyages :</h3>
	</div>
	{% for userVoyage in userVoyages %}
		{% if userVoyage.heureDepart > date() %}
			<div class="col-4 ml-1 mt-3 mb-2">
				<div class="card" style="width: 18rem;">
					<div>
						<div class="card-body">
							<h5 class="card-title">{{ userVoyage.villeDepart }}
								-
								{{userVoyage.villeArrive}}</h5>
							<h6 class="card-subtitle">
								<div class="mb-2 text-muted">
									Départ le
									{{ userVoyage.heureDepart|date('d F') }}
									<div>
										<a href="{{ path('detail_list', {slug: userVoyage.slug}) }}" class="card-link">Plus d'info</a>
										{% if userVoyage.place|length == 0 %}
											<a href="{{path ('delete_voy', {id: userVoyage.id}) }}">
												<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-file-excel-fill text-danger" viewbox="0 0 16 16">
													<path d="M12 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2zM5.884 4.68 8 7.219l2.116-2.54a.5.5 0 1 1 .768.641L8.651 8l2.233 2.68a.5.5 0 0 1-.768.64L8 8.781l-2.116 2.54a.5.5 0 0 1-.768-.641L7.349 8 5.116 5.32a.5.5 0 1 1 .768-.64z"/>
												</svg>
											</a>
											<a href="{{path ('edit_voy', {id: userVoyage.id}) }}" class="btn btn-warning btn-sm">
												<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil" viewbox="0 0 16 16">
													<path d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168l10-10zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207 11.207 2.5zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293l6.5-6.5zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325z"/>
												</svg>
											</a>
										{% endif %}
									</div>
								</div>
							</h6>
						</div>
					</div>
				</div>
			</div>
		{% else %}
			<div class="ml-3 mb-2">

				<h5>
					<i>
						<small>vous n'avez pas de voyages de planifier</small>
					</i>
				</h5>

			</div>
		{% endif %}
	{% endfor %}

	<div class="mb-3 ml-4">
		<a href="{{ path('history_voy')}}" class="btn btn-secondary btn-sm">historique des voyages publiés</a>
		<a href="{{path('app_voyage')}}" class="btn btn-secondary btn-sm">retour</a>
	</div>
{% endblock %}
